{% extends "../base.html" %}
{% load static %}

{% block contenidoQueCambia %}
    <div>
        <ul>
            <li>{{user.username}}</li>
            <li>{{user.email}}</li>
            <li>{{user.first_name}}</li>
            <li>{{user.last_name}}</li>
            <li> <img src="{{user.avatar.imagen.url}}" width="60px" alt="avatar"></li>
            <li>{{user.avatar.ROL}}</li>
        </ul>
        <a href="editarPerfil" class="btn btn-success" style="text-decoration: none; color: white;"> Editar Perfil</a>
        <a href="avatar" class="btn btn-success" style="text-decoration: none; color: white;"> Avatar</a>
    </div>
    <div>
        {% if user.is_superuser %}
            <p>Hola superusuario</p>
        {% endif %}
    </div>
{% endblock %}

