<div>
    {% extends "ClinicaTandil/base.html" %}
    {% load static %}
    
        {% block contenidoQueCambia %}
            <h1>Contacto</h1>
            <h4>Dejanos tu consulta</h4>
            <div class="formContacto">
                <form action="/ClinicaTandil/contacto/" method="POST"> {% csrf_token %}
                    <div>
                        <input placeholder="Nombre" type = "text" name="nombre" required>
                    </div>
                    <div>
                        <input placeholder="Apellido" type = "text" name="apellido" required>
                    </div>
                    <div>
                        <input placeholder="Email" type = "email" name="email" required>
                    </div>
                    <div>
                        <input placeholder="Mensaje" type = "text" name="mensaje" required>
                    </div>
                
                    <input class="btn btn-primary" type="submit" value="Enviar">
                </form>
            </div>
        {% endblock %}
</div>