<div>
    {% extends "ClinicaTandil/base.html" %}
    {% load static %}
    
        {% block contenidoQueCambia %}
            <h1>Contacto</h1>
            <h4>Dejanos tu consulta</h4>
            <div>
                <form action="/ClinicaTandil/contacto/" method="POST"> {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control anchoFormContacto" placeholder="Nombre" type = "text" name="nombre" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control anchoFormContacto" placeholder="Apellido" type = "text" name="apellido" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control anchoFormContacto" placeholder="Email" type = "email" name="email" required>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control anchoFormContacto" placeholder="Mensaje" type = "text" name="mensaje" rows="8" required></textarea>
                    </div>
                    <div>
                        <input class="btn btn-primary anchoFormContacto" type="submit" value="Enviar">
                    </div>
                    
                </form>
            </div>

            <div>
                <div>
                    {% if user.is_authenticated and user.secretaria %}
                    <h1>Consultas recibidas</h1>
                    <table id="tableInfoPacientes">
                        <tr id="tituloTablaPacientes">
                            <th>Fecha</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Correo</th>
                            <th>Mensaje</th>
                        </tr>
        
                            {% for mensaje in Mensajes %}
                                <tr>
                                    <td>{{mensaje.msj_fecha}}</td>
                                    <td>{{mensaje.nombre}}</td>
                                    <td>{{mensaje.apellido}}</td>
                                    <td>{{mensaje.email}}</td>
                                    <td>{{mensaje.mensaje}}</td>
                                </tr>
                        
                            {% endfor %} 
                    </table>
                    {% endif %}
                </div>
            </div>
        {% endblock %}
</div>