<div  class="fondoHome">
    {% extends "ClinicaTandil/base.html" %}
    {% load static %}
    
        {% block contenidoQueCambia %}
            <div>
                <h1>Bienvenido a Clinica Tandil</h1>
                <p class="parrafoHome">
                    Desde la Clinica Tandil, tenemos el objetivo de promover el bienestar y garantizar una vida sana a todos los habitantes de la ciudad y alrededores. Consideramos que esto es importante para la construcción de sociedades prósperas.
                    Del mismo modo, tratamos de concientizar a nuestra comunidad sobre la importancia de la buena salud y de los beneficios de llevar un estilo de vida saludable. Paralelamente, creemos que todos podemos empezar por promover y proteger nuestra propia salud y la de nuestro entorno mediante la toma de decisiones bien informadas.
                </p>
                {% if not user.is_authenticated %}
                    <div>
                        <p>Quieres <a href="{% url 'login' %}">iniciar sesión </a></p>
                    </div>
                {% endif %}
            
            </div>

        {% endblock %}
</div>