<div>
    {% extends "ClinicaTandil/base.html" %}
    {% load static %}
    
        {% block contenidoQueCambia %}
            <h1>Pacientes de Clinica Tandil</h1>
            <table id="tableInfoPacientes">
                <tr id="tituloTablaPacientes">
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    
                </tr>

                    {% for paciente in Pacientes %}
                        <tr>
                            <td>{{paciente.usuario.first_name}}</td>
                            <td>{{paciente.usuario.last_name}}</td>
                            <td>{{paciente.usuario.email}}</td>
                            
                        </tr>
                {% endfor %}  
        {% endblock %}
</div>