<div>
    {% extends "ClinicaTandil/base.html" %}
    {% load static %}
    
        {% block contenidoQueCambia %}
            <p>Pacientes de la clinica</p>
            <table id="tableInfoPlantilla">
                <tr id="tituloTablaPlantilla">
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Especialidad</th>
                    
                </tr>

                    {% for medico in Medicos %}
                        <tr>
                            <td>{{medico.usuario.first_name}}</td>
                            <td>{{medico.usuario.last_name}}</td>
                            <td>{{medico.especialidad}}</td>
                        </tr>
                {% endfor %}  
        {% endblock %}
</div>