<div>
    {% extends "ClinicaTandil/base.html" %}
    {% load static %}
    
        {% block contenidoQueCambia %}
        
        
        <div>
            <title>{% block title %}Turnos{% endblock %}</title>
            
            <h1>Turnos</h1>
            <div>
                {% block content %}
                    <ul>
                        {% for turno in turnos %}
                            <li>{{ turno.turno_fecha }} -Paciente: {{ turno.paciente.usuario.last_name }}, {{ turno.paciente.usuario.first_name }} - Medico: {{ turno.medico.usuario.last_name }}, {{ turno.medico.usuario.first_name }}</li>
                        {% endfor %}
                    </ul>
                {% endblock %}
            </div>
        </div>

        {% if user.is_authenticated and user.secretaria %}
            <button class="btn btn-primary btnVer"><a href="{% url 'nuevo_turno'  %}">Nuevo Turno</a></button>
            <h2>Confirmacion de nuevo turno</h2>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
        {% endblock %}
</div>